<mat-card class="p-0">
  <mat-card-title class="">
    <div class="card-title-text">
      <span>Loader Dialog</span>
    </div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <div class="pb-1">
        <mat-form-field class="full-width">
            <input
            matInput
            name="title"
            placeholder="Loader text"
            [(ngModel)]="title">
        </mat-form-field>
    </div>
    <div class="pb-1">
        <mat-form-field class="full-width">
            <input
            matInput
            name="time"
            type="number"
            placeholder="Loading time (ms)"
            [(ngModel)]="loadingTime">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="openLoader()" class="">Show loader</button>
  </mat-card-content>
</mat-card>