.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  width: 100%;


}

.page_content {
  padding: 20px;
  min-height: calc(100vh - 178px);
  border-radius: 15px;
  margin-top: -2rem;
  background: white;
  color: black;
}

.page_box {
  min-height: 100px;

  background-image: linear-gradient(to bottom, rgb(2, 33, 58), rgb(7, 95, 122));
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;

}

.example-container {

  width: 100;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100;
  z-index: 1;
}


td.mat-column-star {
  width: 20%;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

td {
  min-width: 100px;

}

th {
  min-width: 100px;
  

}

tr:nth-child(even) {
  background-color: rgb(247, 233, 193)
}

th {
  color: white;
  font-weight: normal
}

.height{
  max-height: 100vh;
}
.active{
  margin-top: 3rem;
}
.btn{
  margin-top: -2rem;
}
.calander{
  color: white;
}