<h2><strong>Monthly Report</strong></h2>
<mat-card>
  <form [formGroup]="fileupload" fxLayout="column">
    <div fxLayout="column" style="text-align: center;"fxLayoutAlign="center center">
     <div fxLayout="row" fxLayoutAlign="space-around">
       <h3 style="margin-top: 23px; margin-right: 10px;"><strong>Select Month:</strong> </h3>
      <mat-form-field>
      <input matInput [matDatepicker]="picker1" name="CalMonth" formControlName="CalMonth" placeholder="Year and Month">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
       <mat-datepicker #picker1 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around">
      <h3 style="margin-top: 23px; margin-right: 10px;"><strong>User Name:</strong> </h3>
      <mat-form-field  fxFlex="48% ">
       <input matInput placeholder="user name" >
      </mat-form-field>
    </div>
    <button mat-raised-button  style="background-color:rgb(7, 56, 71); color: white; margin-top: 10px;"> View Details </button>
    <br>
    <br>
    <br>
    <br>
    <br>
   
   </div>
    <table >
      <tr style="width: 100%; height: 50px;" >
        <td style="background-color:rgb(7, 56, 71);border: 1px solid white ; color: white; text-align: center; "> Sr</td>
        <td style="background-color:rgb(25, 65, 66);border: 1px solid white ;color: white;  text-align: center;" >Day</td>
        <td style="background-color:rgb(25, 65, 66);border: 1px solid white ;color: white; text-align: center;">Date</td>
        <td style="background-color:rgb(25, 65, 66);border: 1px solid white ;color: white; text-align: center;">Attend Post</td>
        <td style="background-color:rgb(25, 65, 66);border: 1px solid white ; color: white; text-align: center;">Leave Post</td>
        <td style="background-color:rgb(25, 65, 66);border: 1px solid white ; color: white; text-align: center;">Working Time</td>
        <td style="background-color:rgb(25, 65, 66);border: 1px solid white ; color: white; text-align: center;">Gap</td>
        <td style="background-color:rgb(25, 65, 66);border: 1px solid white ;color: white; text-align: center;">Action</td>
      </tr>
      <tr style="width: 100%; height: 50px;" >
        <td style="background-color:rgb(211, 227, 231);border: 1px solid white ; color: rgb(15, 14, 14); text-align: center; "> 1</td>
        <td style="background-color:rgb(211, 227, 231);border: 1px solid white ; color: rgb(15, 14, 14); text-align: center; " >Monday</td>
        <td style="background-color:rgb(211, 227, 231);border: 1px solid white ; color: rgb(15, 14, 14); text-align: center; ">1/1/2021</td>
        <td style="background-color:rgb(211, 227, 231);border: 1px solid white ; color: rgb(15, 14, 14); text-align: center; ">8:00</td>
        <td style="background-color:rgb(211, 227, 231);border: 1px solid white ; color: rgb(15, 14, 14); text-align: center; ">16:00</td>
        <td style="background-color:rgb(211, 227, 231);border: 1px solid white ; color: rgb(15, 14, 14); text-align: center; ">7:00</td>
        <td style="background-color:rgb(211, 227, 231);border: 1px solid white ; color: rgb(15, 14, 14); text-align: center; ">1:00</td>
        <td style="background-color:rgb(211, 227, 231);border: 1px solid white ; color: rgb(15, 14, 14); text-align: center; "><button >view</button></td>
      </tr>
    </table>
    
    
  </form>
</mat-card>