<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
        <div *ngIf="AddMode">Manage Topic
        </div>
        <div *ngIf="EditMode">Edit Topic
        </div>
        <div fxFlex fxLayout="row" fxLayoutAlign="end end" style="margin-top: 13px;" *ngIf="isDialog">
            <button mat-icon-button (click)="dialogref.close()" style="color: white;">
              <mat-icon>close</mat-icon>
            </button>
          </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <form #topicForm="ngForm">
            <Row>
                <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%">
                    <mat-form-field appearance="outline" fxFlex="49%">
                        <mat-select name="Course" [(ngModel)]="selectedTopic.courseId">
                            <mat-option [value]="0" (click)="Refresh();">--Please Select--</mat-option>
                            <mat-option *ngFor="let val of Courses" [value]="val.id" (click)="Search()">
                              {{val.title}}
                            </mat-option>
                          </mat-select>
                        
                        <div matSuffix>
                          <button mat-icon-button style="color:#940540;" (click)="OpenCourseDialog(); $event.stopPropagation()" cTooltip="Explore SettingsType">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="49%">
                        <mat-label>Topic Title</mat-label>
                        <input matInput class="form-control" placeholder="Title" [type]="hide ? 'title' : 'text'"
                               name="topicTitle" [ngClass]="{ 'is-invalid': topicForm.submitted && title.invalid }"
                               #title="ngModel" [(ngModel)]="selectedTopic.topicTitle" required maxlength="200" minlength="20">
                        
                        <mat-error class="form-text text-danger"
                                   *ngIf="topicForm.controls['topicTitle']?.hasError('required') || topicForm.controls['topicTitle']?.hasError('minlength')">
                            TopicTitle is required to be at least 20 characters.
                        </mat-error>
                        
                      </mat-form-field>
                </div>
            </Row>
            <Row>
                <div fxLayout="row" fxFlex="100%">
                    <mat-form-field appearance="outline" fxFlex="100%">
                        <mat-label>Description</mat-label>
                        <textarea matInput required name="description" [(ngModel)]="selectedTopic.description" maxlength="2000" minlength="10"></textarea>
                        <mat-error class="form-text text-danger"
                        *ngIf="topicForm.controls['description']?.hasError || topicForm.controls['description']?.errors?.['minlength']">
                        Description is required to be at least 10 characters.
                      </mat-error>
                    </mat-form-field>
                </div>
            </Row>
            <mat-checkbox name="isActive" [(ngModel)]="selectedTopic.isActive">Is Active</mat-checkbox>

            <div fxLayoutAlign="end end">
                <button mat-raised-button *ngIf="AddMode" color="primary" (click)="SaveTopic()">Submit</button>
                <button mat-raised-button *ngIf="EditMode" color="primary" (click)="SaveTopic()">Update</button>
                <div>
                    <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                        (click)="Refresh()">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </div>
            </div>

        </form>
        <section class=" example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;margin-top: 20px;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="topicTitle">
                    <th mat-header-cell *matHeaderCellDef> Topic Title </th>
                    <td mat-cell *matCellDef="let element"> {{element.topicTitle}} </td>
                </ng-container>
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descripton </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                <ng-container matColumnDef="course">
                    <th mat-header-cell *matHeaderCellDef> Course </th>
                    <td mat-cell *matCellDef="let element"> {{element.course}} </td>
                </ng-container>
                <ng-container matColumnDef="isActive">
                    <th mat-header-cell *matHeaderCellDef> Is Active </th>
                    <td mat-cell *matCellDef="let element"> {{ element.isActive ? 'yes' : 'no' }} </td>
                  </ng-container>
                <ng-container matColumnDef="actions" stickyEnd="true">
                    <th mat-header-cell *matHeaderCellDef>
                        <p style="font-size: 14px;text-align: center;">Action</p>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <div style="text-align: center;">
                            <button mat-icon-button mat-sm-button (click)="EditTopic(row)" style=" color:#1e293b ; "
                                cTooltip=" Edit Course">
                                <mat-icon>edit</mat-icon>
                            </button>

                            <!-- <button mat-icon-button mat-sm-button color="warn" (click)="DeleteTopic(row.id)"
                                cTooltip="Delete Course">
                                <mat-icon>delete</mat-icon>
                            </button> -->
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </section>
    </div>
</div>