/MT/LMS.Service/obj
/MT/LMS.Core/bin
/MT/LMS.Core/obj
/MT/LMS.DAL/bin
/MT/LMS.DAL/obj
/MT/LMS.Service/bin
/MT/LMS.Tests/bin
/MT/LMS.Tests/obj
/MT/.vs
/MT/LMS.WebAPI/bin
/MT/LMS.WebAPI/obj
*.dll
*.vs
*.obj
*.bin
*.BuildWithSkipAnalyzers
*.cache
*.editorconfig
*.pdb
/DemoCode/Back-End/QAFastTrack.Tests/obj
