<h3 style="color: rgb(6, 6, 68);"><strong>User Roles List</strong> </h3>

<div style="margin-top: 30px;text-align: right;margin-right: 10px;">
    <button  mat-raised-button class="mb-05" style="background-color: rgb(43, 3, 25);color:white" (click)="addEvent()" ><strong>Create</strong></button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%; margin-top: 10px;" >
    <table mat-table #table [dataSource]="dataSource" style="width: 100%;">
  
      <ng-container matColumnDef="id" id="id">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;">Sr No </th>
        <td mat-cell *matCellDef="let urole" style="width: 20%;"> {{urole.userId}} </td>
      </ng-container>
  
      <ng-container matColumnDef="user" id="user">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;">User </th>
        <td mat-cell *matCellDef="let urole" style="width: 20%;"> {{urole.uName}} </td>
      </ng-container>
  
      <ng-container matColumnDef="role" id="role"> 
        <th mat-header-cell *matHeaderCellDef style="width: 20%;"> Roles </th>
        <td mat-cell *matCellDef="let urole" style="width: 20%;"> {{urole.role}} </td>
      </ng-container>
  
     
  
      <ng-container matColumnDef="action" >
        <mat-header-cell  *matHeaderCellDef > Action </mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <!-- <div >
              <button mat-icon-button mat-sm-button style="color: rgb(43, 3, 25)" class="mr-1" (click)="EditUserRole(row)"><mat-icon>edit</mat-icon></button>
          </div> -->
          <div >
            <button mat-icon-button mat-sm-button style="color: rgb(43, 3, 25)" class="mr-1" (click)="Delete(row)"><mat-icon>delete</mat-icon></button>
        </div>
        </mat-cell>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
    </table>
  </div>