<div style="width:100%;height:40px;  "  fxLayout="row" fxLayoutAlign="space-between">
    <div>
        <h1 style="color: rgb(39, 8, 68); padding: 5px;">Expense Management System</h1>
    </div>
    <div class="pull-right" style="text-align:end">
        <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="topbar-button-right mr-1 img-button">
            <mat-icon style="  transform: scale(1.5); color: rgb(17, 3, 70);margin-top: 0p;margin-bottom: 3px;">person_pin</mat-icon>
          </button>
          <mat-menu #accountMenu="matMenu">
            <button mat-menu-item [routerLink]="['/expense/login']">
              <mat-icon>account_box</mat-icon>
              <span>Sign in</span>
            </button>
            <button mat-menu-item (click)="SignOut()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        
        </div>
</div>
<div style="background-color: gray; height: 10px; "></div>
<br>