<div class="container-fluid page">
  <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
    <div>Manage User
    </div>
  </div>
  <div class="page_content shadow p-3 position-relative">
    <div style="margin-top: 30px;text-align: right;margin-right: 10px;">
      <button mat-raised-button class="mb-05" style="background-color: #1e293b;color:white"
        [routerLink]="['/security/userRegistration']">Add
        New</button>
    </div>
    <c-card style="padding: 10px; margin-top: 30px;">
      <h5 cCardTitle>User List</h5>
      <c-card-body style="padding: 10px;background-color: rgb(2, 42, 75);margin: 5px;border-radius: 10px;">
        <div class="example-table-container">
          <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="id" id="id">
                <th mat-header-cell *matHeaderCellDef>Sr No </th>
                <td mat-cell *matCellDef="let user"> {{user.id}} </td>
              </ng-container>
              <ng-container matColumnDef="userName" id="userName">
                <th mat-header-cell *matHeaderCellDef>User Name </th>
                <td mat-cell *matCellDef="let user"> {{user.name}} </td>
              </ng-container>
              <ng-container matColumnDef="role" id="role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let user"> {{user.role}} </td>
              </ng-container>
              <ng-container matColumnDef="phoneNumber" id="phoneNumber">
                <th mat-header-cell *matHeaderCellDef>Cell No </th>
                <td mat-cell *matCellDef="let user"> {{user.phoneNumber}} </td>
              </ng-container>
              <ng-container matColumnDef="email" id="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let user"> {{user.email}} </td>
              </ng-container>
              <ng-container matColumnDef="discountLimit" id="discountLimit">
                <th mat-header-cell *matHeaderCellDef> Discount Limit </th>
                <td mat-cell *matCellDef="let user"> {{user.discountLimit}} </td>
              </ng-container>
              <ng-container matColumnDef="fatherName" id="fatherName">
                <th mat-header-cell *matHeaderCellDef> Father Name </th>
                <td mat-cell *matCellDef="let user"> {{user.fatherName}} </td>
              </ng-container>
              <ng-container matColumnDef="firstName" id="firstName">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
              </ng-container>
              <ng-container matColumnDef="msCardNo" id="msCardNo">
                <th mat-header-cell *matHeaderCellDef> MS CardNo </th>
                <td mat-cell *matCellDef="let user"> {{user.msCardNo}} </td>
              </ng-container>
              <ng-container matColumnDef="address" id="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let user"> {{user.address}} </td>
              </ng-container>
              <ng-container matColumnDef="branch" id="branch">
                <th mat-header-cell *matHeaderCellDef> Branch </th>
                <td mat-cell *matCellDef="let user"> {{user.branch}} </td>
              </ng-container>
              <ng-container matColumnDef="cnic" id="cnic">
                <th mat-header-cell *matHeaderCellDef> CNIC </th>
                <td mat-cell *matCellDef="let user"> {{user.cnic}} </td>
              </ng-container>
              <ng-container matColumnDef="action" stickyEnd="true">
                <th mat-header-cell *matHeaderCellDef>
                  <p style="width: 150px; text-align: center;">Actions</p>
                </th>
                <td mat-cell *matCellDef="let row">
                  <div fxLayout="row" fxLayoutAlign="space-around" style="width: 150px; text-align: center;">
                    <button mat-icon-button mat-sm-button style="color: rgb(43, 3, 25)" class="mr-1"
                      (click)="EditUser(row)"><mat-icon>edit</mat-icon></button>

                    <button mat-icon-button mat-sm-button color="warn" class="mr-1"
                      (click)="DeleteUser(row.id)"><mat-icon>delete</mat-icon></button>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </section>
        </div>
      </c-card-body>
    </c-card>
  </div>
</div>