
<button  style="position: fixed; border-width: medium; 
top: 0px;
right: 15%;" mat-fab class="fab" *ngIf="isView || isEdit" class="btn-dialog-close"  mat-stroked-button (click)="dialogRef.close()" ><mat-icon>clear</mat-icon></button>

<mat-label >
  <div *ngIf="!isView && !isEdit">
    <p style="font-size: large;"><strong>Sale Order</strong></p>
  </div>
  <div *ngIf="isEdit">
    <p style="font-size: large;"><strong>Update Sale Order</strong></p>
  </div>
  <div *ngIf="isView ">
    <p style="font-size: large;"><strong>Sale Order View</strong></p>
  </div>
 
</mat-label>
<div>
  <form fxFlex #itmform="ngForm">
    <div fxLayout="row" fxLayoutAlign="space-between">
     
      <mat-form-field fxFlex="45%">
        <mat-label>Customer</mat-label>
        <mat-select   name="CustomerId" #customerId="ngModel"
          [(ngModel)]="proSvc.selectedSaleOrder.customerId" required  [disabled]="isView">
          <mat-option  *ngFor="let cus of customer" [value]=" cus.id">
            {{cus.customerName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="45%">
        <mat-label>Balance</mat-label>
        <input readonly="{{isView}}" type="number" matInput name="Balance" #balance="ngModel" [(ngModel)]="proSvc.selectedSaleOrder.balance">
      </mat-form-field>
    </div>
    <!--  <form >

  <table mat-table style="width: 100%;"  multiTemplateDataRows [dataSource]="data" class="mat-elevation-z8" style="margin-top: 50px;">
    <div *ngIf="isEdit">
      <ng-container matColumnDef="Code" >
        <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Item Code </th>
        <td mat-cell *matCellDef="let element">
          <div  > 
            <div *ngFor="let itm of item">       
            <mat-form-field fxFlex="95%" *ngIf="codeshow" >
             <input type="number" readonly matInput  placeholder="Item Code" min="1001"  
            value="{{itm.itemCode}}"
              required>
             </mat-form-field>  
            </div>       
          <mat-form-field fxFlex="95%" *ngIf="Codeshow"  >
           <input type="number" matInput  placeholder="Item Code" min="1001"  (keypress)="SearchItemByCode()"
           name="ItemCode" [(ngModel)]="proSvc.selectedItem.itemCode"
            required>
           </mat-form-field>
         </div>
        
         </td>
         
      </ng-container>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Item Name </th>
          <td mat-cell *matCellDef="let element" >  
           
            <div >
              <div *ngIf="isShown">
                <mat-form-field fxFlex="95%"  >
                  <mat-label>Item Name</mat-label>
                  <input type="text"
                 
                  matTooltip="{{proSvc.selectedItem.itemName}}"
                         placeholder="Item Name "
                         (keyup)="Search()"
                         matInput
                         [(ngModel)]="proSvc.selectedItem.itemName" name= "ItemName" #itemName="ngModel"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                       
                      <mat-option matTooltip="{{itms.itemName}}" *ngFor="let itms of itm" [value]=" itms.itemName" required  (click)="SearchItem()">
                        {{ itms.itemName}}</mat-option>
              
                  </mat-autocomplete>
                </mat-form-field>
     
              </div>
              <div  *ngFor="let itm of item" >
                <mat-form-field fxFlex="95%" *ngIf="IsShown">
                  <mat-label>Item Name</mat-label>
                  <input type="text"  matInput  placeholder="Item Name" value="{{itm.itemName}}"
                 
                  >
                </mat-form-field>
              </div>
             

            </div>
       </td>  

      </ng-container>
      <ng-container matColumnDef="UOM">
        <th mat-header-cell *matHeaderCellDef style=" width:350px;"> UOM </th>
        <td mat-cell *matCellDef="let element" >
          <div >
          <div *ngFor="let itm of item">
            <mat-form-field fxFlex="95%" *ngFor ="let itm of item" >
              <input type="text" disabled matInput  placeholder="UOM" value="{{itm.uom}}"
              maxlength="1"
               >
             </mat-form-field>
      </div>
    </div> 
     </td>
      </ng-container>
      <ng-container matColumnDef="QTY">
        <th mat-header-cell *matHeaderCellDef style=" width:350px;"> QTY </th>
        <td mat-cell *matCellDef="let element"> 
          <div>
          <mat-form-field fxFlex="95%"> 
          <input type="number" matInput  placeholder="QTY" min="1" name="QTY"  #focusto
          value="1"
          [(ngModel)]="proSvc.selectedSaleOrder.qty" (keyup)="addRows()"
           required>
           </mat-form-field>
          </div>
       </td>
      </ng-container>
      <ng-container matColumnDef="Price" >
        <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Price </th>
        <td mat-cell *matCellDef="let element" > 
          <div>
          <div *ngFor="let itm of item">
          <mat-form-field fxFlex="95%" *ngFor ="let itm of item">
          <input type="number" matInput  placeholder="Price" required  min="1" 
          value="{{itm.salePrice}}"
           > 
          </mat-form-field>
        </div>
        </div>
      </td>
      </ng-container>
      <ng-container matColumnDef="LineTotal" >
        <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Total </th>
        <td mat-cell *matCellDef="let element"> 
          <div>
            <mat-form-field fxFlex="95%"  *ngFor="let itm of item">
            <input type="number" matInput readonly  value="{{proSvc.selectedSaleOrder.qty * itm.salePrice}}"
             > 
            </mat-form-field>
          </div>
        </td>
 
      </ng-container>
      <ng-container matColumnDef="Action" >
        <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
        <mat-cell *matCellDef="let row" >
        </mat-cell>
      </ng-container>
    </div> 
    <div *ngIf="!isEdit">
      <ng-container matColumnDef="itemCode" >
       
        <td mat-cell *matCellDef="let element">
          <div>
            <mat-form-field fxFlex="95%" >
               <input  readonly matInput    
          
                required>
              </mat-form-field>
            </div>
         </td>
         
      </ng-container>  
      <ng-container matColumnDef="itemName">
   
          <td mat-cell *matCellDef="let element" >  
           
            <div>
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
            
                  required>
                </mat-form-field>
              </div>
         
       </td>  
    
      </ng-container>   
      <ng-container matColumnDef="uom">
       
        <td mat-cell *matCellDef="let element" > 
          <div >
            <mat-form-field fxFlex="95%" >
               <input  readonly matInput    
          
                required>
              </mat-form-field>
            </div>
     </td>
      </ng-container>   
      <ng-container matColumnDef="qty">
          
          <td mat-cell *matCellDef="let element"> 
            
            <div>
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
            
                  required>
                </mat-form-field>
              </div>
         </td>
      </ng-container>  
      <ng-container matColumnDef="salePrice" >
       
        <td mat-cell *matCellDef="let element" > 
          <div>
            <mat-form-field fxFlex="95%" >
               <input  readonly matInput    
          
                required>
              </mat-form-field>
            </div>
      </td>
      </ng-container>
      <ng-container matColumnDef="lineTotal" >
          <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Total </th>
          <td mat-cell *matCellDef="let element"> 
            <div>
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
            
                  required>
                </mat-form-field>
              </div>
          </td>
        
      </ng-container>    
      <ng-container matColumnDef="Actions" >
          <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
          <mat-cell *matCellDef="let row" >
     
            <button fxLayout="column" mat-icon-button mat-sm-button color="primary"   class="mr-1" ><mat-icon>edit</mat-icon></button>
            <button mat-icon-button mat-sm-button color="warn" (click)="delete(row.id)"><mat-icon>delete</mat-icon></button>
           
   
          </mat-cell>
      </ng-container>
    </div>
   
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <div  > 
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </div>
      <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
   
    </table>
   
 
  </form> 
  <form >

    <table mat-table style="width: 100%;"  multiTemplateDataRows [dataSource]="data" class="mat-elevation-z8" style="margin-top: 50px;">
      <div >
        <ng-container matColumnDef="Code" >
          <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Item Code </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="!isEdit" > 
              <div *ngFor="let itm of item">       
              <mat-form-field fxFlex="95%" *ngIf="codeshow" (click)="code()">
               <input type="number" readonly matInput  placeholder="Item Code" min="1001"   
              value="{{itm.itemCode}}"
                required>
               </mat-form-field>  
              </div>       
            <mat-form-field fxFlex="95%" *ngIf="Codeshow"  >
             <input type="number" matInput  placeholder="Item Code" min="1001"  (keypress)="SearchItemByCode()"
             name="ItemCode" [(ngModel)]="proSvc.selectedItem.itemCode"
              required>
             </mat-form-field>
           </div>
            <div *ngIf="isEdit">
            <div *ngFor="let itm of item">
              <div *ngIf="Codeshow== true">
                <mat-form-field fxFlex="95%" >
                   <input  readonly matInput    
                   value="{{proSvc.selectedItem.itemCode}}"
                    required>
                  </mat-form-field>
                </div>
                <div *ngIf="codeshow== true"> 
                  <mat-form-field fxFlex="95%" >
                     <input  readonly matInput    
                     value="{{itm.itemCode}}"
                      required>
                    </mat-form-field>
                  </div>
            </div>
           </div> 
           </td>
           
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Item Name </th>
            <td mat-cell *matCellDef="let element" >  
             
              <div *ngIf="!isEdit">
                <div *ngIf="isShown">
                  <mat-form-field fxFlex="95%"  >
                    <mat-label>Item Name</mat-label>
                    <input type="text"
                  
                    matTooltip="{{proSvc.selectedItem.itemName}}"
                           placeholder="Item Name "
                           (keyup)="AutoCompleteSearch()"
                           matInput
                           [(ngModel)]="proSvc.selectedItem.itemName" name= "ItemName" #itemName="ngModel"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                         
                        <mat-option matTooltip="{{itms.itemName}}" *ngFor="let itms of itm" [value]=" itms.itemName" required  (click)="SearchItemByName()">
                          {{ itms.itemName}}</mat-option>
                
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field fxFlex="95%">
                    <mat-label>Item Name</mat-label>
                    <mat-select [(ngModel)]="proSvc.selectedItem.id" name= "id" >
                      <mat-option *ngFor="let itms of itm" [value]=" itms.id" required  (click)="SearchItem()">
                        {{ itms.itemName}}</mat-option>
                    </mat-select>
                  </mat-form-field> 
                </div>
                <div  *ngFor="let itm of item" >
                  <mat-form-field fxFlex="95%" *ngIf="IsShown" (click)="itemNameinput()">
                    <mat-label>Item Name</mat-label>
                    <input type="text"   matInput  placeholder="Item Name" value="{{itm.itemName}}"
                   
                    >
                  </mat-form-field>
                </div>
               
              <mat-form-field fxFlex="95%">
              <input matInput name="ItemName" placeholder="Item Name"
             #itemName="ngModel" [(ngModel)]="proSvc.line.itemName" 
               required>
               </mat-form-field> 
              </div>
               <div *ngIf="isEdit"> 
                <div *ngFor="let itm of item">
                 <div *ngIf="isShown== true">
                   <mat-form-field fxFlex="95%" >
                      <input  readonly matInput    
                      value="{{proSvc.selectedItem.itemName}}"
                       required>
                     </mat-form-field>
                   </div>
                   <div  *ngIf="IsShown== true">
                     <mat-form-field fxFlex="95%" >
                        <input  readonly matInput    
                        value="{{itm.itemName}}"
                         required>
                       </mat-form-field>
                     </div>
                   </div>
              </div>  
         </td>  
             <td mat-footer-cell *matFooterCellDef> Total </td> 
        </ng-container>
        <ng-container matColumnDef="UOM">
          <th mat-header-cell *matHeaderCellDef style=" width:350px;"> UOM </th>
          <td mat-cell *matCellDef="let element" >
            <div *ngIf="!isEdit">
            <div *ngFor="let itm of item">
              <mat-form-field fxFlex="95%" *ngFor ="let itm of item" >
                <input type="text" disabled matInput  placeholder="UOM" value="{{itm.uom}}" 
                maxlength="1"
                 >
               </mat-form-field>
           </div>
           </div>
            <div *ngIf="isEdit">
            <div *ngFor="let itm of item">
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
             value="{{itm.uom}}"
                  required>
                </mat-form-field>
              </div>
            </div>  
       </td>
        </ng-container>
        <ng-container matColumnDef="QTY">
          <th mat-header-cell *matHeaderCellDef style=" width:350px;"> QTY </th>
          <td mat-cell *matCellDef="let element"> 
            <div *ngIf="!isEdit">
            <mat-form-field fxFlex="95%"> 
            <input type="number"   placeholder="QTY" min="1" name="QTY"  #focusto
            value="1"
            [(ngModel)]="proSvc.selectedSaleOrder.qty" (keyup)="addRows() "   matInput 
             required>
             </mat-form-field>
            </div>
             <div *ngIf="isEdit">
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
            value="{{proSvc.selectedSaleOrder.qty}}"
                  required>
                </mat-form-field>
            </div> 
         </td>
        </ng-container>
        <ng-container matColumnDef="Price" >
          <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Price </th>
          <td mat-cell *matCellDef="let element" > 
            <div *ngIf="!isEdit">
            <div *ngFor="let itm of item">
            <mat-form-field fxFlex="95%" *ngFor ="let itm of item">
            <input type="number" matInput  placeholder="Price" required  min="1" 
            value="{{itm.salePrice}}"
             > 
            </mat-form-field>
          </div>
            </div>
             <div *ngIf="isEdit">
            <div *ngFor ="let itm of item">
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
               value="{{itm.salePrice}}"
                  required>
                </mat-form-field>
              </div>
           </div> 
        </td>
        </ng-container>
        <ng-container matColumnDef="LineTotal" >
          <th mat-header-cell *matHeaderCellDef style=" width:350px;"> Total </th>
          <td mat-cell *matCellDef="let element"> 
            <div *ngIf="!isEdit">
              <mat-form-field fxFlex="95%"  *ngFor="let itm of item">
              <input type="number" matInput readonly  value="{{proSvc.selectedSaleOrder.qty * itm.salePrice}}"
               > 
              </mat-form-field>
            </div>
             <div *ngIf="isEdit">
              <div *ngFor="let itm of item">
                <mat-form-field fxFlex="95%" >
                   <input  readonly matInput    
                   value="{{proSvc.selectedSaleOrder.qty * itm.salePrice}}"
                    required>
                  </mat-form-field>
                </div>
            </div> 
          </td>
           <td mat-footer-cell *matFooterCellDef> 15000 </td> 
        </ng-container>
        <ng-container matColumnDef="Action" >
          <div *ngIf="!isEdit">
          <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
          <mat-cell *matCellDef="let row" >
          </mat-cell>
        </div>
         <div *ngIf="isEdit">
          <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
          <mat-cell *matCellDef="let row" >
     
            <button fxLayout="column" mat-icon-button mat-sm-button color="primary"   class="mr-1" ><mat-icon>edit</mat-icon></button>
            <button mat-icon-button mat-sm-button color="warn" (click)="delete(row.id)"><mat-icon>delete</mat-icon></button>
           
    
          </mat-cell>
        </div> 
        </ng-container>
      </div> 
      <div >
        <ng-container matColumnDef="itemCode" >
         <div *ngFor="let itm of item">
          <td mat-cell *matCellDef="let element">
            <div>
            <div *ngIf="Codeshow== true">
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
                 value="{{proSvc.selectedItem.itemCode}}"
                  required>
                </mat-form-field>
              </div>
              <div *ngIf="codeshow== true"> 
                <mat-form-field fxFlex="95%" >
                   <input  readonly matInput    
                   value="{{itm.itemCode}}"
                    required>
                  </mat-form-field>
                </div>
              </div>
           </td>
          </div>
        </ng-container>  
        <ng-container matColumnDef="itemName">
        <div *ngFor="let itm of item">
            <td mat-cell *matCellDef="let element" >
              <div> 
             <div *ngFor="let itm of item">
              <div *ngIf="isShown== true">
                <mat-form-field fxFlex="95%" >
                   <input  readonly matInput    
                   value="{{proSvc.selectedItem.itemName}}"
                    required>
                  </mat-form-field>
                </div>
                <div  *ngIf="IsShown== true">
                  <mat-form-field fxFlex="95%" >
                     <input  readonly matInput    
                     value="{{itm.itemName}}"
                      required>
                    </mat-form-field>
                  </div>
                </div>
              </div> 
         </td>  
        </div>
        </ng-container>   
        <ng-container matColumnDef="uom">
         <div *ngFor="let itm of item">
          <td mat-cell *matCellDef="let element" > 
            <div >
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
             value="{{itm.uom}}"
                  required>
                </mat-form-field>
              </div>
       </td>
      </div>
        </ng-container>   
        <ng-container matColumnDef="qty">
            <div>
            <td mat-cell *matCellDef="let element"> 
              
              <div>
                <mat-form-field fxFlex="95%" >
                   <input  readonly matInput    
              value="{{proSvc.selectedSaleOrder.qty}}"
                    required>
                  </mat-form-field>
                </div>
           </td>
          </div>
        </ng-container>  
        <ng-container matColumnDef="salePrice" >
         <div *ngFor="let itm of item">
          <td mat-cell *matCellDef="let element" > 
            <div>
            <div>
              <mat-form-field fxFlex="95%" >
                 <input  readonly matInput    
               value="{{itm.salePrice}}"
                  required>
                </mat-form-field>
              </div>
            </div>
        </td>
      </div>
        </ng-container>
        <ng-container matColumnDef="lineTotal" >
         <div *ngFor="let itm of item">
            <td mat-cell *matCellDef="let element"> 
              <div>
              <div>
                <mat-form-field fxFlex="95%" >
                   <input  readonly matInput    
                   value="{{proSvc.selectedSaleOrder.qty * itm.salePrice}}"
                    required>
                  </mat-form-field>
                </div>
              </div>
            </td>
          </div>
           <td mat-footer-cell *matFooterCellDef> 15000 </td> 
        </ng-container>    
        <ng-container matColumnDef="Actions" >
          <div>
            <mat-cell *matCellDef="let row" >
       
              <button fxLayout="column" mat-icon-button mat-sm-button color="primary"   class="mr-1" ><mat-icon>edit</mat-icon></button>
              <button mat-icon-button mat-sm-button color="warn" (click)="delete(row.id)"><mat-icon>delete</mat-icon></button>
             
     
            </mat-cell>
          </div>
        </ng-container>
      </div>
       <ng-container matColumnDef="Action" >
            <mat-header-cell  *matHeaderCellDef  style="margin-top: 10px;"> 
               <button mat-icon-button mat-sm-button color="warn" class="mr-1"  (click)="addRows()"><mat-icon>add</mat-icon></button>
               </mat-header-cell>
            <mat-cell *matCellDef="let row" style="margin-top: 10px;">   
             
              <button mat-icon-button mat-sm-button color="warn" class="mr-1" (click)="delete(row.id)" ><mat-icon>remove</mat-icon></button>
            </mat-cell>
          </ng-container> 
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <div  > 
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </div>
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
       <tr mat-footer-row *matFooterRowDef="displayedColumn"></tr> 
      </table>
       <div fxLayout="row" >
      <mat-form-field  fxFlex="10%">
        <input type="number" matInput name="ItemCode" placeholder="ItemCode"
       #ItemCode="ngModel" [(ngModel)]="proSvc.selectedSaleOrder.itemCode" 
         required>
       </mat-form-field>
       <mat-form-field fxFlex="10%">
        <input type="number" matInput name="ItemCode" placeholder="ItemCode"
       #ItemCode="ngModel" [(ngModel)]="proSvc.selectedSaleOrder.itemCode" 
         required>
       </mat-form-field>
       <mat-form-field fxFlex="10%">
        <input type="number" matInput name="ItemName" placeholder="ItemCode"
       #itemName="ngModel" [(ngModel)]="proSvc.selectedSaleOrder.itemName" 
         required>
         </mat-form-field>
         <mat-form-field >
          <input type="number" matInput name="ItemName" placeholder="ItemCode"
         #itemName="ngModel" [(ngModel)]="proSvc.selectedSaleOrder.itemName" 
           required>
           </mat-form-field>
           <mat-form-field >
            <input type="number" matInput name="ItemName" placeholder="ItemCode"
           #itemName="ngModel" [(ngModel)]="proSvc.selectedSaleOrder.itemName" 
             required>
             </mat-form-field>
             <mat-form-field >
              <input type="number" matInput name="ItemName" placeholder="ItemCode"
             #itemName="ngModel" [(ngModel)]="proSvc.selectedSaleOrder.itemName" 
               required>
               </mat-form-field>
               <button mat-icon-button mat-sm-button color="warn" class="mr-1"  ><mat-icon>add</mat-icon></button>
               <button mat-icon-button mat-sm-button color="warn" class="mr-1"  ><mat-icon>remove</mat-icon></button>
                </div> 
    </form> -->
    <mat-card>
      <div *ngIf="!isView">
        <table mat-table
        style="width: 100%;margin-top: 50px; background-color: rgb(248, 209, 100); height: 70px;color:white"
        multiTemplateDataRows [dataSource]="data">
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef> Item Code </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field style="width: 200px;">
              <input type="number" matInput placeholder="Item Code" id="code" #code min="1001"
                (keyup)="SearchItemByCode()" (click)="EmptyCodeFeild()" name="ItemCode" [disabled]="disabled"
                [(ngModel)]="proSvc.line.itemCode">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Item Name </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field style="width: 300px;">
              <mat-label>Item Name</mat-label>
              <input type="text"
                     matInput
                     #itemName="ngModel"
                     placeholder="Item Name " 
                     [(ngModel)]="proSvc.line.itemName"
                     (keyup.enter)="SearchItemByName() "
                     (click)="EmptyNameFeild()" 
                     (ngModelChange)="AutoCompleteSearch($event)"
                     [disabled]="disabled"
                     id="name"
                     name="ItemName"
                     [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                
                    <mat-option matTooltip="{{itms.itemName}}" *ngFor="let itms of filteredData" [value]=" itms.itemName" required
                    (click)="SearchItemByName()">
                    {{ itms.itemName}}</mat-option>
            
              </mat-autocomplete>
            </mat-form-field>
            <!-- <mat-form-field style="width: 300px;">
              <mat-label>Item Name</mat-label>
              <input type="text" matTooltip="{{proSvc.selectedItem.itemName}}" [disabled]="disabled"
                placeholder="Item Name " (keyup.enter)="SearchItemByName() " (keyup)="AutoCompleteSearch()"
                (click)="EmptyNameFeild()" matInput [(ngModel)]="proSvc.selectedItem.itemName" name="ItemName"
                #itemName="ngModel" id="name" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option matTooltip="{{itms.itemName}}" *ngFor="let itms of items" [value]=" itms.itemName" required
                  (click)="SearchItemByName()">
                  {{ itms.itemName}}</mat-option>
              </mat-autocomplete>
            </mat-form-field> -->
          </td>
          <!-- <td mat-footer-cell *matFooterCellDef> Total </td> -->
        </ng-container>
        <ng-container matColumnDef="UOM">
          <th mat-header-cell *matHeaderCellDef> UOM </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field style="width: 100px;">
              <input type="text" matInput disabled [(ngModel)]="this.proSvc.line.uom" name="UOM" #uom="ngModel"
                placeholder="UOM">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="QTY">
          <th mat-header-cell *matHeaderCellDef> QTY </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field style="width: 80px;">
              <input type="number" id="qty" placeholder="QTY" min="1" name="QTY" [(ngModel)]="proSvc.line.qty"
                (keyup.enter)="addRows() " matInput>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field style="width: 150px;">
              <input type="number" matInput placeholder="Price" min="1" name=SalePrice #salePrice="ngModel"
                [(ngModel)]="this.proSvc.line.price" (keyup.enter)="addRows() "  [disabled]="pDisable">
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="LineTotal">
          <th mat-header-cell *matHeaderCellDef> Total </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field style="width: 150px;">
              <input type="number" placeholder="Total" matInput readonly
                value="{{proSvc.line.qty * this.proSvc.line.price}}">
            </mat-form-field>
          </td>
          <!-- <td mat-footer-cell *matFooterCellDef> 15000 </td> -->
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
            <div style="width: 50px;">
              <button mat-icon-button mat-sm-button color="primary" (click)="addRows()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
    </div>
      <table mat-table style="width: 100%; margin-top: 50px;" multiTemplateDataRows [dataSource]="outputData">
        <div>
          <ng-container matColumnDef="itemCode">
            <th mat-header-cell *matHeaderCellDef style="width: 210px;"> Item Code </th>
            <td mat-cell *matCellDef="let element" style="width: 210px;">
              {{element.itemCode}}
            </td>
          </ng-container>
          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef style="width: 307px;"> Item Name </th>
            <td mat-cell *matCellDef="let element" style="width: 307px;">
              {{element.itemName}}
            </td>
          </ng-container>
          <ng-container matColumnDef="uom">
            <th mat-header-cell *matHeaderCellDef style="width: 106px;"> UOM </th>
            <td mat-cell *matCellDef="let element" style="width: 106px;">
              {{element.uom}}
            </td>
          </ng-container>
          <ng-container matColumnDef="qty">
            <div>
              <th mat-header-cell *matHeaderCellDef style="width: 83px;"> QTY </th>
              <td mat-cell *matCellDef="let element" style="width: 83px;">
                {{element.qty}}
              </td>
            </div>
          </ng-container>
          <ng-container matColumnDef="salePrice">
            <th mat-header-cell *matHeaderCellDef style="width: 153px;"> Sale Price </th>
            <td mat-cell *matCellDef="let element" style="width: 153px;">
              {{element.price}}
            </td>
          </ng-container>
          <ng-container matColumnDef="lineTotal">
            <th mat-header-cell *matHeaderCellDef style="width: 65px;"> Line Total </th>
            <td mat-cell *matCellDef="let element" style="width: 65px;">
              {{element.lineTotal}}
            </td>
            <!-- <td mat-footer-cell *matFooterCellDef> 15000 </td> -->
          </ng-container>
          <ng-container matColumnDef="Actions">
            <div>
              <th mat-header-cell *matHeaderCellDef> </th>
              <mat-cell *matCellDef="let row">
                <div>
                  <button mat-icon-button mat-sm-button disabled></button>
                </div>
                <div>
                  <button mat-icon-button mat-sm-button color="warn" *ngIf="!isView" (click)="delete(row.itemCode)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div>
                  <button mat-icon-button mat-sm-button color="primary" *ngIf="!isView" (click)="edit(row.itemCode)">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
              </mat-cell>
            </div>
          </ng-container>
        </div>
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
        <!-- <tr mat-header-row *matHeaderRowDef="displayedColumn"></tr> -->
        <tr mat-row *matRowDef="let row; columns: displayedColumn;"></tr>
      </table>


          </mat-card>
    <div style="margin-left: 900px;" fxLayout="row" fxLayoutGap="10px">
      <div>
        <p style="margin-top:45px;">Total:</p>
        <p style="margin-top:30px">Discount:</p>
        <h5 style="margin-top:40px"><strong>NetPayable: </strong></h5>
      </div>
      <div fxLayout="column" >
        <mat-form-field style="width: 50%;margin-top:12px;">
          <input matInput readonly value="{{getSum()}}">
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <input type="number" min="1" matInput name="Discount" (keydown)="NetPayAble()" #discount="ngModel"
          readonly="{{isView}}"  [(ngModel)]="proSvc.selectedSaleOrder.discount" (keyup)="NetPayAble()">
        </mat-form-field>
        <mat-form-field style="width: 50%;">
          <input readonly matInput name="NetPayable" #netPayable="ngModel"
            [(ngModel)]="proSvc.selectedSaleOrder.netPayable">
        </mat-form-field>
        <!-- <mat-form-field style="width: 50%;"
          *ngIf="proSvc.selectedSaleOrder.discount!==undefined && proSvc.selectedSaleOrder.discount!==null">
          <input type="number" matInput value="{{getSum() - proSvc.selectedSaleOrder.discount}}">
        </mat-form-field>
        <mat-form-field style="width: 50%;"
          *ngIf="proSvc.selectedSaleOrder.discount!==undefined && proSvc.selectedSaleOrder.discount==null">
          <input type="number" matInput value="{{getSum() }}">
        </mat-form-field>
        <mat-form-field style="width: 50%;"
          *ngIf="proSvc.selectedSaleOrder.discount==undefined && proSvc.selectedSaleOrder.discount!==null ">
          <input type="number" matInput value="{{getSum() }}">
        </mat-form-field> -->
      </div>
    </div>
    <div fxLayoutAlign="end end">
      <button mat-raised-button color="primary" type="submit" (click)="SaveSaleOrder()" [disabled]="itmform.invalid"
      *ngIf="!isView"  style=" margin-top: 20px;">Submit </button>
        <button *ngIf="!isView && !isEdit" mat-raised-button color="accent" style="margin-right: 70px;margin-left: 10px; margin-top: 20x;"
        (click)="itmform.reset();Reset()"><strong>Cancel</strong> </button>
        <button *ngIf="isView || isEdit" mat-raised-button color="accent" style="margin-right: 70px;margin-left: 10px; margin-top: 20x;"
        (click)="dialogRef.close()"><strong>Cancel</strong> </button>
    </div>
    <br>
    <br>
  </form>

</div>