<!-- <div class="event-dialog-wrapper" style="z-index: 100;">
    <mat-toolbar matDialogTitle class="mat-primary m-0"
        style="background-color:  rgb(2, 42, 75);color: black; height: 50px; margin-top: 15px;">
        <div fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="margin-top: 13px;">
            <span *ngIf="Add" class="title dialog-title" style="color:white;">
                <p>Manage CityStudent</p>
            </span>
            <span *ngIf="Edit" class="title dialog-title" style="color:rgb(224, 26, 26);">
                <p>Edit CityStudent</p>
            </span>
                  <div fxFlex="7%" *ngIf="isDialog">
                       <button mat-icon-button style="color: white; margin-top: 0; padding-top: 0;" 
                              (click)="dialogRefe.close()"
                              aria-label="Close dialog">
                              <mat-icon>close</mat-icon>
                       </button>
                  </div> 
    
        </div>
    </mat-toolbar>
    </div> -->

    <div class="container-fluid page">
        <div class="d-flex page_box p-3 mt-2 header-sticky" style="position: sticky;">
          <div *ngIf="Add">Manage CityStudent</div>
          <div *ngIf="Edit">Edit CityStudent</div>
          <div fxFlex fxLayout="row" fxLayoutAlign="end center" style="margin-top: 0; padding-top: 0;" *ngIf="isDialog">
            <button mat-icon-button style="color: white; margin-top: 0; padding-top: 0;" 
                (click)="dialogRefe.close()"
                aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
<form>
   
        <div class="page_content shadow p-3 position-relative">
            <form #CityStudentForm="ngForm">
                <Row>
                    <div fxLayout="row" fxLayoutAlign="space-between" fxFlex="100%">
                        <mat-form-field appearance="outline" fxFlex="49%">
                            <mat-label>Please Select City*</mat-label>
                            <mat-select name="cityId" [(ngModel)]="selectedCityStudent.cityId">
                                 <mat-option [value]="0" (click)="Refresh();">--Please Select--</mat-option>
                                <mat-option *ngFor="let val of City" [value]="val.id" (click) = "Search()" >
                                    {{val.name}}
                                </mat-option>
                            </mat-select>
                            <div matSuffix>
                             
                                <button mat-icon-button style="color:#940540 ; "
                                (click)="OpenCityDialog(); $event.stopPropagation()" cTooltip="Explore CityType ">
                                <mat-icon>add</mat-icon>
                            </button>
                            
                            </div>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="49%">
                            <mat-label>Please Select Student*</mat-label>
                            <mat-select name="studentId" [(ngModel)]="selectedCityStudent.studentId">
                                      <mat-option [value]="0" (click)="Refresh();">--Please Select--</mat-option>
                                <mat-option *ngFor="let val of students" [value]="val.id"  (click) = "Search()"   >
                                    {{val.name}}
                                </mat-option>
                            </mat-select>
                            <div matSuffix>
                                <button mat-icon-button style="color:#940540 ; "
                                    (click)="OpenStudentDialog(); $event.stopPropagation()" cTooltip="Explore StudentType ">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </mat-form-field>  
                    </div>
                </Row>
              
                <mat-checkbox name="isActive" [(ngModel)]="selectedCityStudent.isActive">Is Active</mat-checkbox>
                <div fxLayoutAlign="end end">
                    <button mat-raised-button *ngIf="AddMode" color="primary" (click)="SaveCityStudent()">Submit</button>
                    <button mat-raised-button *ngIf="EditMode" color="primary" (click)="UpdateCityStudent()">Update</button>
                    <div>
                        <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh" cTooltipPlacement="top"
                            (click)="Refresh()">
                            <mat-icon>autorenew</mat-icon>
                        </button>
                    </div>
                </div>
               
            </form>
            <section class=" example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;margin-top: 20px;">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef> City </th>
                        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                    </ng-container>

                    <ng-container matColumnDef="student">
                        <th mat-header-cell *matHeaderCellDef> StudentName </th>
                        <td mat-cell *matCellDef="let element"> {{element.student}} </td>
                    </ng-container>
                    

                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef> Is Active </th>
                        <td mat-cell *matCellDef="let element"> {{element.isActive ? 'Yes' : 'No'}} </td>
                      </ng-container>
                    <!-- <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef> Is Active </th>
                        <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
                    </ng-container> -->
                    <ng-container matColumnDef="actions" stickyEnd="true">
                        <th mat-header-cell *matHeaderCellDef>
                            <p style="font-size: 14px;text-align: center;">Actions</p>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <div style="text-align: center;">
                                <button mat-icon-button mat-sm-button (click)="EditCityStudent(row)" style=" color:#1e293b ; "
                                    cTooltip=" Edit CityStudent">
                                    <mat-icon>edit</mat-icon>
                                </button>
    
                                <!-- <button mat-icon-button mat-sm-button color="warn" (click)="DeleteCityStudent(row.id)"
                                    cTooltip="Delete CityStudent">
                                    <mat-icon>delete</mat-icon>
                                </button> -->
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </section>
        