.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  width: 100%;
}

.page_content {
  padding: 20px;
  min-height: calc(100vh - 178px);
  border-radius: 15px;
  margin-top: -2rem;
  background: white;
  color: black;
}

.page_box {
  min-height: 100px;
  background-image: linear-gradient(to bottom, rgb(2, 33, 58), rgb(7, 95, 122));
  border-radius: 10px;
  font-size: 25px;
  padding: 10px;

}