// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$coreui-free-angular-admin-template-primary: mat.define-palette(mat.$indigo-palette);
$coreui-free-angular-admin-template-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$coreui-free-angular-admin-template-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$coreui-free-angular-admin-template-theme: mat.define-light-theme((color: (primary: $coreui-free-angular-admin-template-primary,
        accent: $coreui-free-angular-admin-template-accent,
        warn: $coreui-free-angular-admin-template-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($coreui-free-angular-admin-template-theme);

/* You can add global styles to this file, and also import other style files */
// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

@import "layout";

// Some temp fixes
@import "fixes";

// Prism.js
@import "examples";

// If you want to add something do it here
@import "custom";
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;1,200&display=swap");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Fraunces", serif;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-datepicker {
  width: 500px;
  height: 700px;
}

// tbody tr:nth-child(even) {
//   background-color: rgb(193, 226, 247) !important;
//   //background-color: rgb(243, 219, 208);

// }

// tbody tr:hover {
//   background-color: rgb(207, 181, 156);
// }
th {
  // background-color: rgb(193, 226, 247) !important;
  //background-color: rgb(243, 219, 208);
  background-image: linear-gradient(to bottom, rgb(2, 54, 75), rgb(18, 104, 131)) !important;
  // background-image: linear-gradient(to bottom, rgb(236, 120, 11), rgb(235, 168, 69)) !important;
  font-weight: normal;
  color:white;
}


// td {
//   color: white;
// }


.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #022530;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.red-snackbar {
    --mdc-snackbar-container-color: #680409;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}
.timepicker-overlay {
  z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
  z-index: 1100 !important;
}



// table {
//   border: 10px solid rgb(4, 46, 85);
//   border-radius: 10px;
// }