.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #d1dae0, #6f7a94);
    border: 5px solid #033b4f;
    border-radius: 20px; /* Rounded border */
    padding: 20px;
    transition: background-color 0.5s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Added box shadow */
  }
  
  .login-container:hover {
    background: linear-gradient(135deg, #6f7a94, #d1dae0);
    /* transform: scale(1.03); */
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    background:white;
    border-radius: 20px; /* Rounded border */
    border: 10px solid  #065f78;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  mat-card-title {
    font-size: 32px;
    color: #333;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    background: linear-gradient(135deg, #0a87a9, #065f78);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px 20px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(249, 249, 249, 0.9); /* Slightly transparent background */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .form-group:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  }
  
  mat-icon {
    font-size: 24px;
    margin-right: 10px;
    color: #0a87a9;
    transition: transform 0.3s;
  }
  
  .mat-icon:hover {
    transform: scale(1.2);
    color: #0a87a9;
  }
  
  input {
    width: 100%;
    padding: 5px; /* Increased padding */
    border: 2px solid #0a87a9;
    border-radius: 10px;
    font-size: 18px; /* Increased font size */
  }
  
  input:focus {
    border-color: #065d75;
    box-shadow: 0px 0px 15px rgba(217, 69, 22, 0.2);
    transform: scale(1.05);
  }
  
  #login-button {
    margin-top: 30px;
    width: 100%;
    background: #065f78;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 18px 25px; /* Increased padding */
    cursor: pointer;
    font-size: 20px;
    transition:  0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #login-button:hover {
    background: #0a87a9;
    transform: scale(1.05);
  }
  
  .forgot-password-link {
     
    color: #777;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .forgot-password-link:hover {
    color: #065f78;
  }
  