<div style="background-color: rgb(4, 52, 70);text-align: center;
justify-content: center;
align-items: center;">
  <!-- <c-container style="max-width: 750px;">
    <c-row class="justify-content-center">
      <c-col md="6"
        style="padding: 10px;background-color: rgb(2, 42, 75);    background-image: linear-gradient(to bottom, rgb(2, 33, 58), rgb(7, 95, 122));margin: 5px;border-radius: 10px;"
        class="mat-elevation-z8">
        <c-card class="p-4">
          <c-card-body>
            <div>
              <form cForm #userForm="ngForm">
                <div class="text-center pt-8 pb-16" style="margin: 20px;margin-top: 30px;">
                  <mat-icon style="background-color: rgb(7, 95, 122);"
                    style="  transform: scale(4)">person_pin</mat-icon>
                </div>
                <c-row>
                  <mat-form-field style="margin-top: 20px;" appearance="outline">
                    <mat-label>Enter Email</mat-label>
                    <input matInput required="true" email #email="ngModel" [(ngModel)]="login.email" name="email"
                      placeholder="Email">
                    <mat-error *ngIf="userForm.controls['email']?.errors?.['email']">
                      Email is not valid.
                    </mat-error>
                  </mat-form-field>
                </c-row>
                <c-row>
                  <mat-form-field style="margin-top: 10px;" appearance="outline">
                    <mat-label>Enter Password</mat-label>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" #password="ngModel"
                      required="true" [(ngModel)]="login.password" name="Password">
                    <mat-icon style="color: rgb(32, 10, 66);" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off'
                      :
                      'visibility'}}
                    </mat-icon>
                  </mat-form-field>
                </c-row>
                <c-row>
                  <button mat-raised-button routerLinkActive="active" (click)="Login()"
                    style="margin-top: 20px;  width: 400px;background-color: rgb(32, 10, 66); color: rgb(223, 221, 217);">Sign
                    in</button>
                </c-row>
                <mat-divider></mat-divider>
              </form>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container> -->
  <div class="login-container">
    <mat-card class="login-form">
      <div class="text-center pt-8 pb-16" style="margin: 20px;margin-top: 30px;">
        <mat-icon style="  transform: scale(4)">person_pin</mat-icon>
      </div>
      <form cForm #userForm="ngForm">
        <mat-form-field class="form-group">
          <mat-icon matPrefix>email</mat-icon>
          <input matInput type="email" email [(ngModel)]="login.email" name="email" placeholder="Email" required>
          <mat-error *ngIf="userForm.controls['email']?.errors?.['email']">
            Email is not valid.
          </mat-error>
          <mat-error class="form-text text-danger"
            *ngIf="userForm.controls['email']?.hasError || userForm.controls['email']?.errors?.['required']">
            Its Required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group">
          <mat-icon matPrefix>vpn_key</mat-icon>
          <input password matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="login.password" name="password"
            placeholder="Password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off'
            :
            'visibility'}}
          </mat-icon>
          <mat-error class="form-text text-danger"
            *ngIf="userForm.controls['password']?.hasError || userForm.controls['password']?.errors?.['required']">
            Its Required
          </mat-error>
        </mat-form-field>
        <button mat-raised-button id="login-button" (click)="Login()" type="submit">
          <mat-icon style="color: white;">login</mat-icon> Login
        </button>
      </form>
      <a class="forgot-password-link" style=" text-align: center;
        align-items: center;justify-content: center;" routerLink="/">
        <div fxLayoutAlign="space-around" fxFlex="60%" fxLayout="row">
          <mat-icon>help</mat-icon>
          <p>Forgot Password?</p>
        </div>
      </a>
    </mat-card>
  </div>
</div>