<mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input #tagInput matInput placeholder="New tag" required 
          (keyup.enter)="addTag(tagInput.value);tagInput.value=''" />
        </mat-form-field>
        <button color="primary" mat-raised-button (click)="addTag(tagInput.value);tagInput.value=''">Add</button>
      </div>
      
      <div fxLayout="column" fxLayoutGap="16px" style="margin-top: 20px;">
        <div fxLayout="row" fxLayoutAlign="space-between center"
        *ngFor="let tag of tagList; let i = index;">
        <span>{{tag.id}}</span>
          <span>{{tag.name}}</span>
          <button color="warn" mat-raised-button (click)="tagList.splice(i,1);deleteTag(tag)">Delete</button>
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>

<!-- <button mat-button mat-dialog-close>Cancel</button>
<button mat-button [mat-dialog-close]="true" cdkFocusInitial>Save</button> -->