<div class="container-fluid page">
    <div class="d-flex page_box p-3 mt-2  header-sticky" position="sticky">
        <div *ngIf="Add">Item Settings
        </div>
        <div *ngIf="Edit">Edit Item Settings
        </div>
    </div>
    <div class="page_content shadow p-3 position-relative">
        <form name="eventForm" #userForm="ngForm">
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label> Select SettingsType</mat-label>
                    <mat-select name="enumTypeId" matNativeControl #enumTypeId="ngModel" [disabled]="DisabledType"
                        [(ngModel)]="selectedSettings.enumTypeId" required>
                        <mat-option [value]="0" (click)="Refresh();">--Please Select--</mat-option>
                        <mat-option *ngFor="let pt of settingsType" [value]=" pt.id"
                            (click)=" OnTypeChange(pt);Search();">
                            {{ pt.name}}
                        </mat-option>
                    </mat-select>
                    <div matSuffix>
                        <button mat-icon-button style="color:#940540 ; "
                            (click)="SettingsTypeDialog(); $event.stopPropagation()" cTooltip="Explore SettingsType ">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-form-field>
                
                <!-- <mat-form-field fxFlex="49%" appearance="outline" class="form-group">
                    <mat-label>value</mat-label>
                    <input matInput  #value="ngModel" name="value" [(ngModel)]="selectedSettings.value" />
                </mat-form-field> -->
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>Code</mat-label>
                    <input matInput #keyCode="ngModel" name="KeyCode" type="text" required="true"
                        (input)="onSearchChange()" [(ngModel)]="selectedSettings.keyCode"
                        [readonly]="selectedSettings.isSystemDefined && Edit">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label> Select Parent</mat-label>
                    <mat-select name="parentId" [(ngModel)]="selectedSettings.parentId" matNativeControl>
                        <mat-option [value]="0" (click)="SearchType();">--Please Select--</mat-option>
                        <mat-option *ngFor="let pt of Settings" [value]=" pt.id" (click)="SearchParent()">
                            {{ pt.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="48%" appearance="outline" class="form-group">
                    <mat-label>Enter Name</mat-label>
                    <input matInput #name="ngModel" name="Name" type="text" required="true"
                        (input)="TextChangeEvent($event);onSearchChange()" [(ngModel)]="selectedSettings.name">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <mat-form-field fxFlex="48%" appearance="outline">
                    <mat-label>Enter Description</mat-label>
                    <textarea #Description="ngModel" matInput name="description"
                        [(ngModel)]="selectedSettings.description"></textarea>
                </mat-form-field>
                <div fxLayout="column">
                    <mat-checkbox name="isSystemDefined" [(ngModel)]="selectedSettings.isSystemDefined">
                        Is System Defined
                    </mat-checkbox>
                    <mat-checkbox name="uploadStatus" [(ngModel)]="selectedSettings.uploadStatus">
                        Upload Status
                    </mat-checkbox>
                </div>
            </div>

            <mat-checkbox name="isActive" [(ngModel)]=" selectedSettings.isActive" checked>Is Active</mat-checkbox>
            <div fxLayoutAlign="end end">
                <div style="margin-top: 10px;">
                    <button *ngIf="Add" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="SaveSettings();">
                        Save
                    </button>
                    <button *ngIf="Edit" cButton class="me-1" style="background-color:#1e293b ;" type="submit"
                        (click)="UpdateSettings()">
                        Update
                    </button>
                </div>
                <div>
                    <button mat-icon-button mat-sm-button color="primary" cTooltip="Refresh " cTooltipPlacement="top"
                        (click)="ngOnInit()">
                        <mat-icon>autorenew</mat-icon>
                    </button>
                </div>
            </div>
        </form>
        <c-card style="padding: 10px; margin-top: 30px;" class="mat-elevation-z8">
            <h5 cCardTitle> Settings List</h5>
            <c-card-body style="padding: 10px;margin: 5px;border-radius: 10px;">
                <div class="example-table-container">
                    <section class="example-container mat-elevation-z8" tabindex="0" style="border-radius: 5px;">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="Id">
                                <th mat-header-cell *matHeaderCellDef> Sr No </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="value">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div style="min-width:150px"> Value</div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="min-width:150px"> {{element.value}}</div>
                                </td>
                            </ng-container> -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div style="min-width:150px"> Name</div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div style="min-width:150px"> {{element.name}} </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="settingType">
                                <th mat-header-cell *matHeaderCellDef> Settings Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.settingType}} </td>
                            </ng-container>
                            <ng-container matColumnDef="keyCode">
                                <th mat-header-cell *matHeaderCellDef> Key Code </th>
                                <td mat-cell *matCellDef="let element"> {{element.keyCode}} </td>
                            </ng-container>
                            <ng-container matColumnDef="parent">
                                <th mat-header-cell *matHeaderCellDef> Parent </th>
                                <td mat-cell *matCellDef="let element"> {{element.parentName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef>
                                    <div>Description</div>
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div>{{element.description}}</div>
                                </td>
                            </ng-container>
                            
                    <ng-container matColumnDef="isActive">
                        <th mat-header-cell *matHeaderCellDef> Is Active </th>
                        <td mat-cell *matCellDef="let element"> {{ element.isActive ? 'yes' : 'no' }} </td>
                      </ng-container>


                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef style="width: 100px; text-align: center;"> Actions
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <div style="width: 100px;">
                                        <button mat-icon-button mat-sm-button style="color:#1e293b ; "
                                            cTooltip="Edit Settings " (click)="GetSettingsForEdit(row.id)">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                     <!--   <button mat-icon-button mat-sm-button color="warn" cTooltip="Delete Settings "
                                            [disabled]="row.isSystemDefined" (click)="DeleteSettings(row.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>  -->
                                          <button mat-icon-button mat-sm-button color="warn" cTooltip="Delete Settings"
                                                            (click)="DeleteSettings(row.id)">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </section>
                </div>
            </c-card-body>
        </c-card>
    </div>
</div>