

<mat-card>
  <mat-card-title>
      <div>Request Note</div>
  </mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content>
      <form>
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div class="pb-1">
                      <mat-form-field class="full-width">
                          <input matInput name="title" type="text" placeholder="Title*" value="">
                      </mat-form-field>
                  </div>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div fxFlex="50" fxFlex.gt-xs="100" class="pr-1">
                      <mat-form-field fxFill>
                          <input matInput [matDatepicker]="picker" required placeholder="Required Before"
                              formControlName="date" />
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                  </div>
              </div>
          </div>
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div fxFlex="50" fxFlex.gt-xs="100" class="pr-1">
                      <mat-form-field class="full-width">
                          <mat-label>Type</mat-label>
                          <select matNativeControl required>
                              <option value="internal">Internal</option>
                              <option value="sale">Sales</option>
                              <option value="purchase">Purchase</option>

                          </select>
                      </mat-form-field>
                  </div>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div fxFlex="50" fxFlex.gt-xs="100" class="pr-1">
                      <mat-form-field class="full-width">
                          <mat-label>Category</mat-label>
                          <select matNativeControl required>
                              <option value="itemrequest">ItemRequest</option>
                              <option value="sale">Sales</option>
                              <option value="purchase">Purchase</option>

                          </select>
                      </mat-form-field>
                  </div>
              </div>
          </div>
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div class="pb-1">
                      <mat-form-field class="full-width">
                          <input matInput name="reason" type="text" placeholder="Reason" value="">
                      </mat-form-field>
                  </div>
              </div>
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div fxFlex="50" fxFlex.gt-xs="100" class="pr-1">
                      <mat-form-field class="full-width">
                          <mat-label>Request Type</mat-label>
                          <select matNativeControl required>
                              <option value="">User</option>
                              <option value="department">Department</option>
                              <option value="client">Client</option>

                          </select>
                      </mat-form-field>
                  </div>
              </div>
          </div>
          <div fxLayout="row wrap">
              <div fxFlex="100" fxFlex.gt-xs="50" class="pr-1">
                  <div fxFlex="50" fxFlex.gt-xs="100" class="pr-1">
                      <mat-form-field class="full-width">
                          <mat-label>Status</mat-label>
                          <select matNativeControl required>
                              <option value="open">Open</option>
                              <option value="pending">Pending</option>
                              <option value="approved">Approved</option>

                          </select>
                      </mat-form-field>
                  </div>
              </div>

          </div>
          <div fxLayout="row wrap">
              <div fxFlex="50" fxFlex.gt-xs="50" class="pr-1">
                  <div class="pb-1">
                      <mat-form-field class="full-width">
                          <textarea matInput name="address" type="text" placeholder="Description*">
                         </textarea>
                      </mat-form-field>

                  </div>
              </div>
          </div>
          <div fxLayout="row">
              <table style="width: 100%;">
                  <th>
                      <tr>
                          <td style="width: 15%">Item Name</td>
                      </tr>
                  </th>
                  <th>
                      <tr>
                          <td style="width: 15%">Item Name</td>
                      </tr>
                  </th>
                  <th>
                      <tr>
                          <td style="width: 15%">Item Name</td>
                      </tr>
                  </th>

                  <tbody>
                      <tr style="background-color:cadetblue;">
                          <td style="width: 8%">
                              <input matInput name="code" type="number" placeholder="Code" value="">
                          </td>
                          <td style="width: 15%">Item Name</td>
                          <td style="width: 10%; text-align:right; padding-right: 5px;"><strong> Quantity </strong>
                          </td>
                          <td style="width: 10%; text-align:right; padding-right: 5px;"><strong> UOM </strong></td>
                          <td style="width: 4%">
                              <button mat-mini-fab color="accent">+</button>
                          </td>
                      </tr>
                      <tr style="background-color:rgb(168, 173, 173);">
                          <td style="width: 8%"> 1005 </td>
                          <td style="width: 20%"> Colgate Herbal - 200 grams </td>
                          <td style="width: 4%; text-align:right; padding-right: 5px;"><strong> 10 </strong></td>
                          <td style="width: 4%; text-align:right; padding-right: 5px;"><strong> NOS </strong></td>
                          <td style="width: 4%">
                              <button mat-mini-fab color="warn">-</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <button mat-raised-button color="primary">Post</button>
          <button style="margin-left: 5px ;" mat-raised-button color="warn">Clear</button>
          <button style="margin-left: 5px;" mat-raised-button color="accent">View</button>
      </form>
  </mat-card-content>
</mat-card>