<div class="page-layout overflow-hidden pb-8">
    <!-- header background -->
    <div class="header-bg blue"></div>
    
    <div class="content">
      <!-- Header content -->
      <div class="content-header p-24" fxLayout="row wrap" fxLayoutAlign="start center">
        <h1 class="text-white m-0">Full width card</h1>
      </div>
      
      <!-- Body card -->
      <div class="content-body">
        <!-- body card toolbar -->
        <div class="content-card default-bg">
          <div class="card-header px-24 border-bottom">
            <h4 class="m-0">Full width card header</h4>
          </div>

          <!-- body content -->
          <div class="card-body p-24">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quibusdam at! Beatae dolorem, eos dolor vitae animi sit sint veniam recusandae natus magni impedit iure. Nemo rem sed id fuga!</p>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>